# Testing modular approach and master script for step integration

The idea is to integrate all my analysis in a single script.
The idea is to be tidy and consistent, andp rovide a sequential set of steps that would make anyone underastand what I did and how I reach my conclusiopns.
Eventually, this script could be uploaded in something like a git repository.

In [1]:
import US25UW990JEPL_02 as JEPL
import copy
t=1

In [2]:
init = JEPL.Initializer(data_path='/blue/mateescu/agustinchasco/Projects/reprojersey/data',
                        code_path='/blue/mateescu/agustinchasco/Projects/reprojersey/core',
                        testing=t)

init.Directories()
init.GetFormatMap()

Initialization:

Code ipykernel_launcher.py starts.
Codes executed when testing is 1.
Running program in /blue/mateescu/agustinchasco/Projects/reprojersey/core.
Reading data in /blue/mateescu/agustinchasco/Projects/reprojersey/data.
Saving data in /blue/mateescu/agustinchasco/Projects/reprojersey/data.
Time profiling starts. Program executed on 04-01-2025 at 11:33 AM EST.

Path `/blue/mateescu/agustinchasco/Projects/reprojersey/data/ipykernel_launcher/test` already exists.

Loading map ipykernel_launcher_test_f4map.json in pathf4_map_path:
 /blue/mateescu/agustinchasco/Projects/reprojersey/data/ipykernel_launcher/test/ipykernel_launcher_test_f4map.json


Loading map ipykernel_launcher_test_f5map.json in pathf5_map_path:
 /blue/mateescu/agustinchasco/Projects/reprojersey/data/ipykernel_launcher/test/ipykernel_launcher_test_f5map.json


Creation of master map ipykernel_launcher_test_fmap.json in path:
 /blue/mateescu/agustinchasco/Projects/reprojersey/data/ipykernel_launcher/test/ipykernel_launcher_test_fmap.json


HTML map file named ipykernel_launcher_test_fmap.html saved in pat:
 /blue/mateescu/agustinchasco/Projects/reprojersey/data/ipykernel_launcher/test/ipykernel_launcher_test_fmap.html

In [3]:
print(f'JEPL020101 activated when testing is {init.t}. \n')
fn = ['US25UW990JEPL.01_impl_010601pdfu.txt', 'US25UW990JEPL.01_test_010601pdfu.txt'][init.t]
fp = init.TargetPath(fn)

print(f'Loading file {fn} in path: \n {fp} \n \n')
dc = JEPL.DataContainer(init, pdfu = init.TXT_reader(target_path=fp))
dc.ShowDatasets()

JEPL020101 activated when testing is 1.

Loading file US25UW990JEPL.01_test_010601pdfu.txt in path:
 /blue/mateescu/agustinchasco/Projects/reprojersey/data/US25UW990JEPL.02/test/US25UW990JEPL.01_test_010601pdfu.txt


init: <class 'US25UW990JEPL_02.Initializer'> (Not a DataFrame)

pdfu: <class 'pandas.core.frame.DataFrame'> with shape (23353, 650)

In [5]:
dc.SetKey(['pdfu'], [['f4X3', 'f4X4', 'f4X5', 'f4X35'], ['f5X3', 'f5X4', 'f5X5', 'f5X35']])

Setting key in merged dataset with 650 columns.

In [6]:
dc.pdfu['Key']

0        JE               20120216
1        JE               20161013
2        JE               20210726
3        JE84000006726960620160505
4        JE84000006754087220151208
                   ...
23348    JEUSA00301355475120160123
23349    JEUSA00301355522120151126
23350    JEUSA00313113600720200704
23351    JEUSA00313420180920201030
23352    JEUSA00313420187820190625
Name: Key, Length: 23353, dtype: object

In [7]:
import numpy as np

In [8]:
n=10
lacts = 'm'
c = 17
s = 12

ks = list(set(dc.pdfu['Key']))
np.random.seed(s)
sks = np.random.choice(ks, size=n, replace=False)
if lacts == 'm':
    sks = [k[:c]for k in sks]
    mask = dc.pdfu['Key'].apply(lambda k: k[:c]).isin(sks)
elif lacts == 'u':
    mask = dc.pdfu['Key'].isin(sks)

sdf = dc.pdfu[mask]
sdf

,f4X1,f4X2,f4X3,f4X4,f4X5,f4X6,f4X7,f4X8,f4X9,f4X10,...,f5X328,f5X329,f5X330,f5X331,f5X332,f5X333,f5X334,f5X335,f5X336,Key
577,0,F,JE,840,003005175116,JE,USA,000115140569,,,...,,,,,,,,,,JE84000300517511620141020
2306,0,F,JE,840,003012434647,JE,USA,000115863998,JE,840,...,,,,,,,,,,JE84000301243464720150416
5058,0,F,JE,840,003137766621,JE,CAN,000010211025,JE,982,...,,,,,,,,,,JE84000313776662120160422
6732,0,F,JE,840,003150336355,,USA,0000000003HJ,,,...,,,,,,,,,,JE84000315033635520201209
10693,0,F,JE,USA,000067075835,JE,USA,000112785428,JE,USA,...,,,,,,,,,,JEUSA00006707583520121026
12081,0,F,JE,USA,000067354177,JE,USA,000114592064,JE,USA,...,,,,,,,,,,JEUSA00006735417720130101
12225,0,F,JE,USA,000067393221,JE,CAN,000101483843,JE,USA,...,,,,,,,,,,JEUSA00006739322120200718
16476,0,F,JE,USA,000114753261,JE,CAN,000010028633,JE,USA,...,nn,nnn,nnnnnnnnnnnn,nnnnnnnnnnnnnnnnn,nnnnnnn,nnnnnnnnnn,nnn,nn,nnnnn,JEUSA00011475326120080608
20720,0,F,JE,USA,00023WAL3369,JE,USA,000110106571,JE,USA,...,nn,nnn,nnnnnnnnnnnn,nnnnnnnnnnnnnnnnn,nnnnnnn,nnnnnnnnnn,nnn,nn,nnnnn,JEUSA00023WAL336920130618
22439,0,F,JE,USA,00093THM4930,JE,USA,000000664195,JE,USA,...,nn,nnn,nnnnnnnnnnnn,nnnnnnnnnnnnnnnnn,nnnnnnn,nnnnnnnnnn,nnn,nn,nnnnn,JEUSA00093THM493020080104

In [9]:
cols = ['f5X' + str(i) for i in range(1, 10)]
sdf[cols]

      f5X1 f5X2 f5X3 f5X4          f5X5 f5X6 f5X7          f5X8 f5X9
577      0    F   JE  840  003005175116   JE  USA  000115140569
2306     0    F   JE  840  003012434647   JE  USA  000115863998   JE
5058     0    F   JE  840  003137766621   JE  CAN  000010211025   JE
6732     0    F   JE  840  003150336355       USA  0000000003HJ
10693    0    F   JE  USA  000067075835   JE  USA  000112785428   JE
12081    0    F   JE  USA  000067354177   JE  USA  000114592064   JE
12225    0    F   JE  USA  000067393221   JE  CAN  000101483843   JE
16476    n    n   nn  nnn  nnnnnnnnnnnn   nn  nnn  nnnnnnnnnnnn   nn
20720    n    n   nn  nnn  nnnnnnnnnnnn   nn  nnn  nnnnnnnnnnnn   nn
22439    n    n   nn  nnn  nnnnnnnnnnnn   nn  nnn  nnnnnnnnnnnn   nn

In [25]:
f4 = [1]
f5 = [6]
if isinstance(f4, int):
    f4 = [f4]
if isinstance(f5, int):
    f5 = [f5]
    
f4l = min(f4)
f4u = max(f4)
f5l = min(f5)
f5u = max(f5)

print(f4l)
print(f4u)
print(f5l)
print(f5u)

for i4 in range(f4l, f4u+1):
    c = 'f4X' + str(i4)
    print(c)
    
for i5 in range(f5l, f5u+1):
    c = 'f5X' + str(i5)
    print(c)

1
1
6
6
f4X1
f5X6

In [22]:
f4 = [1,2,3]
f5 = [4,5,30]

all(f4[i] + 1 == f4[i + 1] for i in range(len(f4) - 1))

True

In [13]:
def ColSelect(f4, f5, key=None): 
    if key is None:
        k = []
    else:
        k = [key]
    if isinstance(f4, int) or all(f4[i] + 1 == f4[i + 1] for i in range(len(f4) - 1)):
        if isinstance(f4, int):
            f4 = [f4]
        f4l = min(f4)
        f4u = max(f4)
        c4 = ['f4X' + str(i4) for i4 in range(f4l, f4u+1)]
    else:
        c4 = ['f4X' + str(i4) for i4 in f4]
    if isinstance(f5, int) or all(f5[i] + 1 == f5[i + 1] for i in range(len(f5) - 1)):
        if isinstance(f5, int):
            f5 = [f5]
        f5l = min(f5)
        f5u = max(f5)
        c5 = ['f5X' + str(i5) for i5 in range(f5l, f5u+1)]
    else:
        c5 = ['f5X' + str(i5) for i5 in f5]
    return c4 + c5 + k

ColSelect([4,5,6,70],4, 'Key')

['f4X4', 'f4X5', 'f4X6', 'f4X70', 'f5X4', 'Key']

In [16]:
sdf2 = sdf[ColSelect([4,5,7,10], [5], 'Key')]
sdf2

      f4X4          f4X5 f4X7 f4X10          f5X5                        Key
577    840  003005175116  USA        003005175116  JE84000300517511620141020
2306   840  003012434647  USA   840  003012434647  JE84000301243464720150416
5058   840  003137766621  CAN   982  003137766621  JE84000313776662120160422
6732   840  003150336355  USA        003150336355  JE84000315033635520201209
10693  USA  000067075835  USA   USA  000067075835  JEUSA00006707583520121026
12081  USA  000067354177  USA   USA  000067354177  JEUSA00006735417720130101
12225  USA  000067393221  CAN   USA  000067393221  JEUSA00006739322120200718
16476  USA  000114753261  CAN   USA  nnnnnnnnnnnn  JEUSA00011475326120080608
20720  USA  00023WAL3369  USA   USA  nnnnnnnnnnnn  JEUSA00023WAL336920130618
22439  USA  00093THM4930  USA   USA  nnnnnnnnnnnn  JEUSA00093THM493020080104

In [17]:
init.cn +

'ipykernel_launcher'

In [ ]:
sbdf2.to_html('subset_dataframe.html')